.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dotted black;
  border-radius: 60px;
  padding: 5px 0;
  margin: 10px;
  width: 80px;
  background-color: burlywood;
  box-shadow: 0px 0px 57px -10px rgba(0, 0, 0, 0.75);
}
